<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
 
<%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About us</h2>
        <p>aldds dfgdsg dgffd azegb azbcw azfcx ddddddd</p>
        <p>aldds dfgdsg dgffd azegb azbcw azfcx ddddddd</p>
        <p>aldds dfgdsg dgffd azegb azbcw azfcx ddddddd</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>